<h2><%= message["message"] %></h2>
<form method="post" action="/comment/<%= message["id"] %>">
  <input type="hidden" name="_method" value="patch"/>
  <label for="message">Comment:</label><br>
  <textarea type="text" col="40" row="5" id="message" name="comment">Enter Comment Here</textarea><br>
  <input type="submit" value="Add Comment"/>
</form>