<html>
<head>
  <title>Message</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
  <body>
    <div class="wrapper">
      <h1>Message Roullete</h1>
      <% if flash[:error] %>
        <%= flash[:error] %><br>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
